{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/contact.jpg' %}" data-speed="0.8" alt="contact"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_subtitle page_subtitle">The Venue</div>
                        <div class="home_title"><h1>Contact</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_title">Contact info</div>
                <div class="contact_text">
                    <p>Step into a timeless culinary experience at TheVenue Restaurant, where tradition meets innovation in every dish. Our establishment radiates warmth and hospitality, offering a vibrant atmosphere that mirrors our passion for exceptional dining. We extend a heartfelt invitation to join us and indulge in the delights of our kitchen, where each meal is crafted with care and served with a smile. Your presence would bring us great joy, and we eagerly await the opportunity to welcome you to our esteemed establishment.</p>

                    <p>For inquiries, we are available throughout business hours, Monday to Friday. Feel free to give us a call at +1 (123) 456-7890 or drop us an email at info@thevenuerestaurant.com. We look forward to hearing from you regarding any questions, suggestions, or reservations.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="contact_list_container d-flex flex-column align-items-lg-center justify-content-start">
                    <div class="contact_list_content">
                        <ul class="contact_list">
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div>Address</div></div>
                                <div>123 Main Street, Anytown, Anywhere</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div>Phone</div></div>
                                <div>+1 (123) 456-7890</div>
                            </li>
                            <li class="d-flex flex-row align-items-start justify-content-start">
                                <div><div>E-mail</div></div>
                                <div>info@thevenuerestaurant.com</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}