{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block content %}

    
    <div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/home.jpg' %}" data-speed="0.8" alt="homepage_image"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_subtitle page_subtitle">The Venue is</div>
							<div class="home_title"><h1>An Extraordinary Experience</h1></div>
							<div class="home_text ml-auto mr-auto">
								<p>"Embark on a culinary adventure at our restaurant, where every visit promises an extraordinary experience. From the moment you step through our doors, you'll be greeted by tantalizing aromas and impeccable service."</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll_icon"></div>
	</div>

    <div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content">
						<div class="intro_subtitle page_subtitle">Something new</div>
						<div class="intro_title"><h2>An Extraordinery Experience</h2></div>
						<div class="intro_text">
							<p>"Step into a world of culinary delight at our restaurant, where every moment is an extraordinary experience. From the tantalizing aromas that greet you at the door to the impeccable service and sumptuous flavors that dance on your palate, each visit is a journey of culinary bliss. Join us and indulge in the magic of fine dining, where every dish tells a story and every bite leaves you craving for more."</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img src="{% static 'images/intro_1.jpg' %}" alt="homepage_intro1"></div>
						</div>
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img src="{% static 'images/intro_2.jpg' %}" alt="homepahe_intro2"></div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="video_section">
		<div class="background_image">
			<img src="{% static 'images/video.jpg' %}" alt="seafood_image">
		</div>
		<div class="video_section_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="video_section_title">Food for the soul</div>
			<div class="video_section_icon"><a class="vimeo video_button" href="{% static 'video/seafood.mp4' %}" aria-label="seafood_video" ><i class="fa fa-play" aria-hidden="true"></i></a></div>
		</div>
	</div>

	<!-- Signature Dish -->

	<div class="sig" style="height: 550px;">
		<div class="sig_content_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-7" style="margin-bottom: 50px;">
						<div class="sig_content">
							<div class="sig_subtitle page_subtitle">Something new</div>
							<div class="sig_title"><h1>Our Signature Dish</h1></div>
							<div class="rating_r sig_rating rating_r_5"><i></i><i></i><i></i><i></i><i></i></div>
							<div class="sig_name_container d-flex flex-row align-items-start justify-content-start">
								<div class="sig_name">Pork Tenderloin marinated in Green Pepper</div>
								<div class="sig_price ml-auto">$20</div>
							</div>
							<div class="sig_content_list">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li>Pork</li>
									<li>Tenderloin</li>
									<li>Green Pepper</li>
									<li>Veggies</li>
								</ul>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
