{% extends 'base.html' %}
{% load static %}
{% block title %}Menu{% endblock %}

{% block content %}

<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/menu.jpg' %}" data-speed="0.8" alt="home_image"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_subtitle page_subtitle">The Venue</div>
                        <div class="home_title"><h1>The Menu</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Menu -->

<div class="themenu">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle page_subtitle">Something new</div>
                    <div class="section_title"><h1>Discover Our Menu</h1></div>
                </div>
            </div>
        </div>
        <div class="row themenu_text_row">
            <div class="col-lg-6">
                <div class="themenu_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="themenu_text">
                    <p>Sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla.</p>
                </div>
            </div>
        </div>
        <div class="row themenu_row">
            
            <!-- Starters -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_image"><img src="{% static 'images/starters.jpg' %}" alt="image_starters"></div>
                <div class="themenu_col trans_400">
                    <div class="themenu_col_title">Starters</div>
                    <div class="dish_list">

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Classic Caesar Salad</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Romaine Lettuce</li>
                                    <li>Garlic Croutons</li>
                                    <li>Shaved Parmesan</li>
                                    <li>Caesar Dressing</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Caprese Salad</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Fresh Mozzarella</li>
                                    <li>Tomatoes</li>
                                    <li>Fresh Basil</li>
                                    <li>Balsamic Glaze</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Greek Salad</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Tomatoes</li>
                                    <li>Cucumbers</li>
                                    <li>Red Onions</li>
                                    <li>Feta Cheese</li>
                                    <li>Kalamata Olives</li>
                                    <li>Greek Dressing</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Arugula and Beet Salad</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Arugula</li>
                                    <li>Roasted Beets</li>
                                    <li>Goat Cheese</li>
                                    <li>Candied Walnuts</li>
                                    <li>Balsamic Vinaigrette</li>
                                </ul>
                            </div>
                        </div>  

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Waldorf Salad</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Apples</li>
                                    <li>Celery</li>
                                    <li>Grapes</li>
                                    <li>Walnuts</li>
                                    <li>Mayonnaise Dressing</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_image"><img src="{% static 'images/main.jpg' %}" alt="image_mains"></div>
                <div class="themenu_col trans_400">
                    <div class="themenu_col_title">Main</div>
                    <div class="dish_list">
                        
                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Chicken with Lemon</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Chicken</li>
                                    <li>Lemon</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Pork Tenderloin in Green Pepper</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Shrimp with Garlic</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Shrimp</li>
                                    <li>Garlic</li>
                                    <li>Butter</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Wild Mushroom with Chicken</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                <li>Chicken</li>
                                <li>Wild Mushroom</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Oysters with Baked Potatoes</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Oysters</li>
                                    <li>Baked Potatoes</li>
                                    <li>Butter</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Roast Pork</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Pork</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Deserts -->
            <div class="col-lg-4 themenu_column">
                <div class="themenu_image"><img src="{% static 'images/deserts.jpg' %}" alt="image_deserts"></div>
                <div class="themenu_col trans_400">
                    <div class="themenu_col_title">Deserts</div>
                    <div class="dish_list">

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Lava Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Chocolate</li>
                                    <li>Butter</li>
                                    <li>Green Pepper</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Orange Tart</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Orange</li>
                                    <li>Butter</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Cheese Cake</div>
                                <div class="dish_price">$20</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap"> 
                                    <li>Cheese</li>
                                    <li>Butter</li>
                                    <li>Green Pepper</li> 
                                </ul>
                            </div>
                        </div>

                        <!-- Dish -->
                        <div class="dish">
                            <div class="dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start">
                                <div class="dish_title">Chocolatte Mausse</div>
                                <div class="dish_price">$17</div>
                            </div>
                            <div class="dish_contents">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <li>Chocolate</li>
                                    <li>Butter</li>
                                </ul>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Signature Dishes -->


{% endblock %}